uni-page-body,page{
	width: 100%;
	height: 100%;
}
/* 布局容器 */
.tuchuang_container{
	width: 100%;
	height: 100%;
}
/* 头部 */
.tuchuang_container-header{
	padding: 10px;
}
/* 主体 */
.tuchuang_container-main{
	padding: 10px;
}
/* 底部 */
.tuchuang_container-footer{
	padding: 10px;
}